/*
****** HEADER SECTION
*/

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    height: 60px;
}

h1 {
    color: blueviolet;
    margin: 0;
}

/*
****** USERS CARD
*/

.usersCard {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 150px;
    max-width: 100%;
    border: 2px solid;
    border-radius: 25px;
}

table {
    width: 100%;
}